.badge {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-space-4);
  width: fit-content;
  padding: var(--spacing-space-4) var(--spacing-space-8);
  border-radius: var(--radius-border-radius-8);
  font-family: var(--font-family-type-family-primary), system-ui, sans-serif;
  font-weight: var(--font-weight-type-weight-medium-500);
  font-size: var(--font-size-caption);
  white-space: nowrap;
}

.icon {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
}

.neutral {
  background-color: var(--neutral-50);
  color: var(--neutral-600);
}

.neutral .icon path {
  stroke: var(--neutral-600);
}

.info {
  background-color: var(--secondary-50);
  color: var(--secondary-600);
}

.info .icon path {
  stroke: var(--secondary-600);
}

.success {
  background-color: var(--sucess-50);
  color: var(--sucess-600);
}

.success .icon path {
  stroke: var(--sucess-600);
}

.warning {
  background-color: var(--warning-50);
  color: var(--warning-600);
}

.warning .icon path {
  stroke: var(--warning-600);
}

.error {
  background-color: var(--error-50);
  color: var(--error-600);
}

.error .icon path {
  stroke: var(--error-600);
}
