.emptyState {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  min-height: 320px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-space-32) var(--spacing-space-16);
  text-align: center;
}

.emptyState.iconMode {
  gap: var(--spacing-space-32);
}

.emptyState.codeMode {
  gap: var(--spacing-space-16);
}

.icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

.icon path {
  stroke: var(--neutral-500);
}

.code {
  margin: 0;
}

.title,
.description {
  max-width: 328px;
  margin: 0;
}
